#sidebar { display:block; height:1200px; border-right:1px solid #f2f2f2; margin:0 64px 0 0; padding:56px 0; color:#000; }
#sidebar .menu_tit { font-size:32px; font-weight:700; line-height:44px; margin:0 0 20px; padding: 0 70px; }

.sideMenu { background: #fff; width:100%; margin:0 auto; color:#000; box-sizing:border-box; }
.sideMenu .menu {  }
.sideMenu .menu h3 { position: relative; font-size: 16px; font-weight:700; line-height: 44px; padding: 0 70px; cursor: pointer; }
.sideMenu .menu h3.on { background:rgba(217,217,217,0.5); }
.sideMenu .sub_menu { display:none; margin:0 0 8px; }
.sideMenu .sub_menu li { padding: 0 16px 0 92px; }
.sideMenu .sub_menu li a { font-size:13px; line-height:36px; color:#000; font-weight:500; -webkit-transition: all 0.15s;	-moz-transition: all 0.15s;	-o-transition: all 0.15s;	-ms-transition: all 0.15s;	transition: all 0.15s;}
.sideMenu .menu.active ul { display: block; }

.recipeTitle { min-height: 30px; margin: 30px 0 10px; }
.recipeTitle h2 { display: block; color: #222; font-size: 30px; line-height:28px; margin: 0 0 38px; font-weight: 700; *display: inline; }
.recipeTitle p{display:inline-block; font-size: 18px; padding-bottom:10px;}
.recipeTitle p span{font-weight:700;}
.allclose_btn{display:inline-block; float: right; padding:5px 10px; border:2px solid #000; border-radius:10px; font-size: 15px;}

.member_type { position:relative; margin:0 auto 40px; }
.member_type .set { position:absolute; top:12px; right:12px; }
.member_type .set i { font-size:22px; cursor:pointer; }
.member_type .ec-base-box.typeMember.gMessage { border:1px solid #000; border-radius:10px; }
.member_type .ec-base-box.typeMember .information > .title, .member_type .ec-base-box.typeMember .information > .thumbnail { width:115px; padding:0 70px; }
.member_type .ec-base-box.typeMember .information > .thumbnail img { width:100%; max-width:100%; max-height:100%; border-radius:100%; }
.member_type .ec-base-box.typeMember .information .description { border-left:0;  color:#000; }
.member_type .ec-base-box.typeMember .information .description .welcome { font-size:22px; font-weight:700; line-height:30px; }
.member_type .ec-base-box.typeMember .information .description .state { font-size:18px; font-weight:600; line-height:24px; margin:20px 0 0; }

.journey_state { position:relative; }
.journey_state .title { text-align: center; padding: 11px 21px; margin: 40px 0 10px; color:#000; }
.journey_state .title h3 { font-size:22px; font-weight:700; line-height:30px; }
.journey_state .title h3 span { font-size:24px; }
.journey_state .journey { position:relative; margin:56px auto; }
.journey_state .history { display:flex; flex-wrap: wrap; align-items:flex-start; justify-content: space-between; text-align:center; }
.journey_state .history::before { position:absolute; top:18px; right:0; left:0; content:""; display:block; width:90%; height:2px; background:#1d1d1b; margin:0 auto; z-index:-1; }
.journey_state .history li { display:inline-block; min-height:92px; flex:1; padding:0 32px; box-sizing:border-box; }
.journey_state .history li:first-child { padding:0 32px 0 0; }
.journey_state .history li:last-child { padding:0 0 0 32px; }
.journey_state .history li.selected .inner { display:flex; flex-direction: column; align-items: center; justify-content: center; border: 2px solid #000; border-radius: 100%; width: 156px; height: 156px; background:#fff; margin:-56px 0 0; padding:0 32px; box-sizing:border-box; }
.journey_state .history li.selected span.date { height:14px; line-height:14px; color:#000; background:transparent; }
.journey_state .history li span.date { display:inline-block; width:40px; height:40px; font-size:13px; font-weight:700; line-height:40px; color:#fff; background:#5e5c5c; border-radius:100%; }
.journey_state .history li h4 { font-size:13px; font-weight:700; line-height:18px; margin:4px 0 2px; word-break:keep-all; }
.journey_state .history li p { font-size:10px; line-height:14px; word-break:keep-all; }

.solution_state { position:relative; }
.solution_state .info { text-align:center; }
.solution_state .info h3 { font-size:30px; font-weight:700; line-height:40px; color:#000; margin:160px auto 72px; }
.solution_state .solution { position:relative; border:1px solid #000; border-radius:10px; padding:32px 72px; margin:0 0 20px; }
.solution_state .solution .down { position:absolute; right:24px; font-size:20px; }
.solution_state .solution.open { border:2px solid #000; }
.solution_state .solution.open .down { display:none; }
.solution_state .solution.open .short { display:none; }
.solution_state .solution.open .inner { display:flex; }
.solution_state .solution .short { font-size:13px; line-height:18px; font-weight:700; color:#000; }
.solution_state .solution .short::after { content:""; display:block; clear:both; }
.solution_state .solution .inner { display:none; padding:24px 0; } 
.solution_state .solution .mark { position:absolute; top:16px; right:16px; width:0; height:24px; border-left: 12px solid #000; border-right: 12px solid #000; border-bottom: 8px solid transparent; border-radius:5px 5px 0 0; }
.solution_state .solution .img_area { flex:1; }
.solution_state .solution .img_area .thumb { height:229px; margin:0 auto; text-align:center; }
.solution_state .solution .img_area .thumb img { height:100%; }
.solution_state .solution .diagnosis { flex:3; padding:0 72px; font-size:13px; line-height:18px; }
.solution_state .solution .diagnosis h4 { font-size:18px; line-height:25px; font-weight:700; margin:20px 0 14px; }
.solution_state .solution .diagnosis p {  margin:0 0 20px; }
.solution_state .solution .diagnosis p.date { font-size:15px; line-height:20px; font-weight:700; }
.solution_state .solution .diagnosis ul { margin:20px 8px; }
.solution_state .solution .diagnosis ul li { list-style: disc; list-style-position: inside; }
.solution_state .solution .diagnosis span { display:block; text-align:right; }
.solution_state .solution .diagnosis span i { vertical-align:middle; }
.solution_state .solution .bar_area { display:inline-flex; flex-direction: column; justify-content: space-around;flex:3; padding:0 72px; }
.solution_state .solution .bar_area p { font-size:15px; line-height:20px; font-weight:700; margin:0 0 10px; }
.solution_state .solution .bar_area .result { display:flex; flex-direction: column; margin:0 0 13px; }
.solution_state .solution .bar_area .result:last-child { margin:0; }
.solution_state .solution .bar_area .result > div { display:flex; justify-content: space-between; font-size:12px; line-height:18px; color:#666; }
.solution_state .solution .bar_area .result .control { font-size:9px; font-weight:500; line-height:10px; text-align:center; color:#000; }
.solution_state .solution .bar_area .result .control i { font-size:16px; color:#b3b3b3; }
.solution_state .solution .bar_area .result .control .checked { font-weight:700; }
.solution_state .solution .bar_area .result .control .checked i { color:#85b6ff; }
.solution_state .solution .bar_area .result .bar { justify-content: space-around; height:20px; line-height:20px; border:1px solid #b6b6b6; color:#999; text-align: center; }
.solution_state .solution .bar_area .result .bar span { flex:1; }
.solution_state .solution .bar_area .result .bar.line { border:0; }
.solution_state .solution .bar_area .result .bar.line span { border-right:1px solid #fff; }
.solution_state .solution .bar_area .result .bar.line span:last-child { border-right:0; } 
.solution_state .solution .bar_area .result .bar .checked { color:#000; font-weight:500; background:#71747a; }
.solution_state .solution .bar_area .result .bar.point01 { background: linear-gradient(45deg,#d1e7c4,#72b9af); }
.solution_state .solution .bar_area .result .bar.point02 { background: linear-gradient(45deg,#d99bff,#72b9af); }


.xans-myshop-orderstate { margin:20px 0 0; }
.xans-myshop-orderstate .title { text-align: center; padding:11px 21px; margin:40px 0 10px; }
.xans-myshop-orderstate .title h3 { padding:0; font-size:22px; font-weight: 400; color:#222; }
.xans-myshop-orderstate .desc { padding:0 0 0 4px; font-weight:normal; font-size:13px; color:#777; }
.xans-myshop-orderstate .desc em { color:#000; font-style:normal; }
/*.xans-myshop-orderstate .state { overflow:hidden; padding:30px 0; border: 1px solid #000; border-width: 1px 0; }*/
.xans-myshop-orderstate .order { width:100%; }
.xans-myshop-orderstate .order li { position:relative; float:left; width:20%; padding:0 0 4px; text-align:center; }
/*.xans-myshop-orderstate .order li::after { position: absolute; content: ">"; top: 50%; transform: translateY(-50%); right: 0; font-size: 40px; }*/
.xans-myshop-orderstate .order li::before, .xans-myshop-orderstate .order li::after { content:""; position:absolute; right:0; width:16px; height:3px; border-radius:3px; background:#000; -webkit-transition: 0.2s ease-in-out; transition: 0.2s ease-in-out; }
.xans-myshop-orderstate .order li::before { top:25px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.xans-myshop-orderstate .order li::after { top:35px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.xans-myshop-orderstate .order li:last-child::before, .xans-myshop-orderstate .order li:last-child::after { display:none; }
.xans-myshop-orderstate .order li strong { display:block; margin:12px 0 0; font-size:18px; line-height:24px; font-weight: 400 !important; color:#555; }
.xans-myshop-orderstate .order .count { font-weight:700; font-size:22px; line-height:30px; color:#000; }
.xans-myshop-orderstate .order .count.now { color:#1bce17; }
.xans-myshop-orderstate .cs { float:left; width:20%; }
.xans-myshop-orderstate .cs li { margin:0 0 5px 57px; letter-spacing:0.04em; word-spacing:4px; }
.xans-myshop-orderstate .cs strong { font-weight:400 !important; font-size:14px; color:#555; }
.xans-myshop-orderstate .cs .count { padding:0 0 0 4px; font-weight:bold; color:#000; }
.xans-myshop-orderstate .cs .icoDot { display:inline-block; width:2px; height:2px; margin:6px 0 0 0; background:#4d4d4d; vertical-align:top; }


/* 추가 */
.xans-myshop-orderhistoryhead { display:flex; align-items:stretch; margin:24px 0 40px; border:1px solid #000; }
.xans-myshop-orderhistoryhead > .ec-base-box { flex:9; }
.xans-myshop-orderhistoryhead .box { display:flex; align-items:flex-start; margin:0 0 20px; }
.xans-myshop-orderhistoryhead .box:last-child { margin:0; }
.xans-myshop-orderhistoryhead .box p { flex:1; font-size:15px; line-height:28px; font-weight:700; padding:0 24px; text-align:right; }
.xans-myshop-orderhistoryhead .box .right { flex:8; padding: 0 24px; }
.xans-myshop-orderhistoryhead .box .right .selectBox { margin:0 auto; }
.xans-myshop-orderhistoryhead .box .right select { width:96px; height:32px; border:1px solid #000; border-radius:5px; padding:0 8px; font-size:12px; text-align:center; font-family: 'Pretendard','Noto Sans KR'; margin:0 6px 0 12px; 
    	background: #fff url(//img.echosting.cafe24.com/skin/mobile/common/ico_select.gif) no-repeat 100% 49%;  background-size: auto 42px; cursor:pointer; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
.xans-myshop-orderhistoryhead .box .right select:first-child { margin:0 6px 0 0; }
.xans-myshop-orderhistoryhead .ec-base-button { text-align:left; padding:0; margin:0 0 8px; }
.xans-myshop-orderhistoryhead fieldset .fText { width:72px; height:32px; padding:0 6px; border:1px solid #000; line-height:32px; font-size:12px; border-radius:5px; }
.xans-myshop-orderhistoryhead .box .xans-layout-searchheader #keyword { width:400px; height:32px; border:1px solid #000; border-radius:5px; box-sizing:border-box; }

[class^='btnDate'], a[class^='btnDate'] { display: inline-block; box-sizing: border-box; padding: 0 8px; border: 1px solid #000; border-radius: 5px; font-size: 12px; width:96px; height:32px; line-height: 32px; text-decoration: none; vertical-align: middle;
    word-spacing: -0.5px; letter-spacing: 0; text-align: center; white-space: nowrap; color: #555; background-color: #fff; }

.xans-myshop-orderhistoryhead .btnSearch { flex:1; text-align:center; background:#5e5c5c; }
.xans-myshop-orderhistoryhead .btnSearch a { display:block; font-size:20px; font-weight:700; color:#fff; line-height:166px; }






.delivery_state { position:relative; }
.delivery_state .delivery {  display:flex; border:1px solid #000; border-radius:10px; padding:32px 72px; margin:0 0 20px; }
.delivery_state .delivery .img_area { display:inline-flex; align-items:center; flex:1; }
.delivery_state .delivery .img_area .thumb { width:160px; }
.delivery_state .delivery .img_area .thumb img { width:100%; }
.delivery_state .delivery .contents { flex:3; padding:0 16px; }
.delivery_state .delivery .contents h4 { font-size:18px; line-height:25px; font-weight:700; }
.delivery_state .delivery .contents p { font-size:18px; line-height:25px; }
.delivery_state .delivery .contents span.state { display:inline-block; font-size:12px; font-weight:700; color:#fff; padding:8px 32px; background:#71747a; border-radius:30px; margin:0 0 8px; }
.delivery_state .delivery .reusult_area { flex:1; display:inline-flex; flex-direction: column; justify-content: space-between; text-align:right; }
.delivery_state .delivery .reusult_area span { font-size:13px; line-height:17px; font-weight:700; }
.delivery_state .delivery .reusult_area span i { vertical-align:middle; }
.delivery_state .delivery .reusult_area p.date { font-size:15px; line-height:20px; }


.recipe_state { position:relative; }
.recipe_state .box { position:relative; display:flex; border:1px solid #000; border-radius:10px; padding:32px 72px; margin:0 0 20px; }
.recipe_state .box .mark { position:absolute; top:-12px; left:-12px; width:0; height:24px; border-left: 12px solid #000; border-right: 12px solid #000; border-bottom: 8px solid transparent; border-radius:5px 5px 0 0; }
.recipe_state .box .img_area { display:inline-flex; align-items:center; flex:1; }
.recipe_state .box .img_area .thumb { width:160px; }
.recipe_state .box .img_area .thumb img { width:100%; }
.recipe_state .box .contents { flex:3; padding:0 16px; }
.recipe_state .box .contents h4 { font-size:18px; line-height:25px; font-weight:700; }
.recipe_state .box .contents p { font-size:18px; line-height:25px; }
.recipe_state .box .contents span.state { display:inline-block; font-size:12px; font-weight:700; color:#fff; padding:8px 32px; background:#71747a; border-radius:30px; margin:0 0 8px; }
.recipe_state .box .reusult_area { flex:1; display:inline-flex; flex-direction: column; justify-content: space-between; text-align:right; }
.recipe_state .box .reusult_area span { font-size:13px; line-height:17px; font-weight:700; }
.recipe_state .box .reusult_area span i { vertical-align:middle; }
.recipe_state .box .reusult_area p.date { font-size:15px; line-height:20px; }

/*diagnosis_list*/
.diagnosis{margin-top:50px;}
.diagnosis .diagnosis_content .subtit{border-bottom:1px solid #000; margin-bottom:30px; padding-bottom:10px;}
.diagnosis .diagnosis_content .subtit h3{display: inline-block; font-size: 22px; font-weight:700; }
.diagnosis .diagnosis_content .subtit .diagnosis_saved{display: inline-block; float:right; padding: 10px 0; font-size:15px;}
.diagnosis .diagnosis_content .date{font-size:15px; font-weight: 700; margin-bottom: 5px;}
.diagnosis .diagnosis_content .diagnosis_list{background:#fff; margin-bottom:50px; }
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con{position: relative; padding: 6% 5% 4%;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .mark{position: absolute; top: 16px; left: 16px;width: 0; height: 24px; border-left: 10px solid #DBDBDB; border-right: 10px solid #DBDBDB; border-bottom: 8px solid transparent; border-radius: 3px 3px 0 0;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .mark_on{position: absolute; top: 16px; left: 16px;width: 0; height: 24px; border-left: 10px solid #FF585D; border-right: 10px solid #FF585D; border-bottom: 8px solid transparent; border-radius: 3px 3px 0 0;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product:after{display:block; content:""; clear:both;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .product_img{float:left; width:6%; display:inline-block;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .product_img img{width:100%;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .diagnosis_txt{width:64%; float:left; padding-left: 76px; box-sizing: border-box;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .diagnosis_txt .product{font-size: 17px; font-weight:700;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .diagnosis_txt .number{display:inline-block; font-size: 15px; margin: 15px 0;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .diagnosis_txt .name{font-size: 19px;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .diagnosis_txt .price{margin-top:10px;font-size: 15px; font-weight: 600;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .btn_area{float:left; padding-left:76px; margin-top: 28px; text-align: center; }
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .btn_area .btn1{display: inline-block; width: 185px; font-size: 15px; background: #ff585d; color: #fff; line-height:42px; }
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .btn_area .btn2{display: inline-block; width: 185px; font-size: 15px; background:#0B0A0A; color: #fff; line-height:42px; margin-right: 5px; }
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .btn_area .btn3{display: inline-block; width: 185px; font-size: 15px; background:#666; color: #fff; line-height:42px; }
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .product_btn{float:right; width:27%;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .product_btn a{display:inline-block;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .product_btn .basket{width:30%;}
.diagnosis .diagnosis_content .diagnosis_list .diagnosis_con .diagnosis_product .product_btn .buy{width:70%;}

/*.dBtn { margin:20px auto 0; text-align:center; }
.dBtn:after { content:""; display:block; clear:both; }
.btnFeed { display:inline-block; font-size:16px; letter-spacing:-0.03em; text-align:center; width:100%; height:56px; line-height:56px; background:#1b1b1c; color:#fff; -moz-box-sizing:border-box; box-sizing:border-box; }*/