<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- 웹아이콘 -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    
    <!-- 홈페이지 사용 폰트:: 대부분 구글 웹 폰트를 사용합니다  -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7612620/6589632/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">

    <title></title>
    <!--@css(/layout/basic/css/common.css)--><!-- 해당 CSS는 쇼핑몰 전체 페이지에 영향을 줍니다. 삭제와 수정에 주의해주세요 :: 수정 시 주의요망 -->
    <!--@css(/layout/basic/css/layout.css)-->
    <!--@css(/gd_import/css/layout.css)--> <!-- 굿디몰 추가 CSS :: 사이트 디자인에 사용된 대부분의 css는 해당 파일에서 수정하실 수 있습니다 :: 수정 시 주의요망 -->
    <!--@css(/gd_import/css/diagnosis_essen.css)--> <!-- Daover 추가 CSS :: 에센스 문진 전용 CSS -->
	<!--@css(/layout/basic/css/ec-base-ui.css)-->
    <!--@css(/layout/basic/css/ec-base-tooltip.css)-->
    <!--@css(/layout/basic/css/ec-base-help.css)-->
    <!--@css(/layout/basic/css/ec-base-product.css)--> <!-- 상품관련 CSS :: 상품진열과 관련된 css는 해당 파일에서 수정하실 수 있습니다 :: 수정 시 주의요망 -->
    <!--@css(/layout/basic/css/ec-base-paginate.css)-->
    <!--@css(/layout/basic/css/ec-base-tab.css)-->
    <!--@css(/layout/basic/css/ec-base-button.css)-->
    <!--@css(/layout/basic/css/ec-base-box.css)-->
    <!--@css(/layout/basic/css/ec-base-table.css)-->
    <!--@css(/layout/basic/css/ec-base-desc.css)-->
    
    <!--@js(/gd_import/js/basic.js)-->
	<!--@js(/gd_import/js/diagnosis_essen.js)--> <!-- Daover 추가 JS :: 에센스 문진 전용 js //-->
    <!--@js(/layout/basic/js/basic.js)-->
    <!--@js(/js/common.js)-->
    
    <!-- Swiper -->
    <link rel="stylesheet" href="/gd_import/css/swiper.min.css">
    <script src="/gd_import/js/swiper.min.js"></script>  
</head>
<body id="diagnosis">
<div id="skipNavigation">
    <p><a href="#category">전체상품목록 바로가기</a></p>
    <p><a href="#contents">본문 바로가기</a></p>
</div>

<!----------------------------------------------------------------------
■ 상단 메뉴 ■
※ 로고 및 상단 수동 카테고리 수정 위치
----------------------------------------------------------------------->
<!--@import(/gd_import/header.html)-->

<div id="wrap">
    <div id="container">

        <div id="contents">
            <!--@contents-->
        </div><hr class="layout" />
    </div><hr class="layout" />
</div><hr class="layout" />

<!--div id="footer">
    <!-----------------------------------------------------------------------------------
		■ footer 정보 수정시 아래의 html파일에서 [파일열기] 클릭 후 수정하시면 됩니다. ■

		※ 홈페이지 최 하단 회사정보는 해당 파일에서 수정하실 수 있습니다
		: 계좌번호, 연락처, 운영시간 등등
	------------------------------------------------------------------------------------->
    <!--import(/gd_import/footer.html)-->   
<!--/div-->


<div module="Layout_conversionPc">
    <!--@css(/css/module/layout/conversionpc.css)-->
    <a href="{$mobile_url}">모바일 화면보기</a>
</div>
    <!-- 마케팅 정보 전송 -->
    <!--@js(/gd_import/js/marketting_info.js)-->
</body>
</html>