 #layout #contents {padding-bottom:0 !important; background:#F8F6F4;}
.about_wrap{position: relative;font-family: 'Pretendard';}
.about_wrap strong{font-weight: 700 !important;}
.about_wrap em{font-style: normal !important;}
.about_wrap .inner{max-width: 1200px;margin: 0 auto;}
.about_wrap .section{padding: 145px 0;}
.about_wrap .section .inner{overflow: hidden;position: relative;}
.about_wrap .section .title{text-align: center;}
.about_wrap .section .title span{display: block;font-size: 24px;color: #0B0A0A;padding-bottom: 40px;}
.about_wrap .section .tit{text-align: center;}
.about_wrap .section .tit strong{display: block;font-size: 48px;line-height: 120%;color: #242424;padding-bottom: 15px; letter-spacing:0;}
.about_wrap .section .tit span{display: block;font-size: 28px;color: #333333;line-height: 150%;padding: 25px 0 15px;font-weight: 700;}
.about_wrap .section .tit p{font-size: 20px;line-height: 150%;color: #0B0A0A;}
.about_wrap .section .left{float: left;width: 50%;}
.about_wrap .section .right{float: right;width: 50%;}

.about_wrap .sec01 {padding: 115px 0;}
.about_wrap .sec01 .title{padding-bottom: 34px;}
.about_wrap .sec01 .title img.aboutLogo {height:100px;}
.about_wrap .sec01 .title p {color:#0B0A0A; font-size:28px; font-weight:400; margin-top:12px;}
.about_wrap .sec01 .img{text-align: center;}
.about_wrap .sec01 .img img {width:796px;}
.about_wrap .sec01 .img .move_left{text-align: right}
.about_wrap .sec01 .img .move_left p{display: inline-block;font-size: 128px;color: #FF5D5C;line-height: 100%;font-weight: 500;text-align: left;margin-top:-100px; font-family: "Gotham SSm A","Gotham SSm B";}
.about_wrap .sec01 .img .move_left p.move{transition: all 1s cubic-bezier(0.340, -0.600, 0.515, 1.570);}

.about_wrap .sec02{padding: 0;background:#6E6259 url(/web/upload/mynomy/kr/prd/img_about02.png) no-repeat right bottom; background-size:auto 800px;}
.about_wrap .sec02 .inner{height: 750px;}
.about_wrap .sec02 .left{}
.about_wrap .sec02 .tit{position: absolute;left: 0;top: 50%;margin-top: -140px;text-align: left;}
.about_wrap .sec02 .tit strong{color: #fff;padding-bottom: 45px;opacity: 0;transition: all 1.8s ease;transform: translateX(-45px);}
.about_wrap .sec02 .tit strong.show{opacity: 1;transform: translateX(0px);}
.about_wrap .sec02 .tit p{color: #fff;opacity: 0;transition: all 1.8s ease;transform: translatey(45px);}
.about_wrap .sec02 .tit p.show{opacity: 1;transform: translatey(0px);}
.about_wrap .sec02 .paralax-img{position: absolute;right: 0;top: -90px;}

.about_wrap .sec03{}
.about_wrap .sec03 .tit{opacity: 0;transition: all 1.8s ease;transform: translatey(45px);}
.about_wrap .sec03 .tit.show{opacity: 1;transform: translatey(0px);}
.about_wrap .sec03 .about_list{padding-top: 88px;}
.about_wrap .sec03 .about_list ul{overflow: hidden;margin-left: -2%;}
.about_wrap .sec03 .about_list ul li{float: left;width: 31.33%;margin-left: 2%;opacity: 0;transition: all 0.2s ease;transform: translatey(145px);position: relative;background-repeat: no-repeat;background-position: center top;background-size: cover;height: 480px;}
.about_wrap .sec03 .about_list ul li:before{content: '';border: 1px solid #fff;position: absolute;left: 14px;top: 16px;right: 15px;bottom: 16px;z-index: 2;}
/*.about_wrap .sec03 .about_list ul li a:hover:after{content: '';width: 100%;height: 100%;background: #FF5D5C;opacity: 0.8;position: absolute;left: 0;top: 0;right: 0;bottom: 0;z-index: 1;}*/
.about_wrap .sec03 .about_list ul li.about_list01{background-image: url(/web/upload/mynomy/kr/prd/bg_about_list01.jpg);}
.about_wrap .sec03 .about_list ul li.about_list02{background-image: url(/web/upload/mynomy/kr/prd/bg_about_list02.jpg);}
.about_wrap .sec03 .about_list ul li.about_list03{background-image: url(/web/renew_img/bg_about_list03.jpg);}
.about_wrap .sec03 .about_list ul li .cont{position: absolute;left: 30px;top: 30px;z-index: 10;}
.about_wrap .sec03 .about_list ul li .cont span{display: block;font-size: 24px;color: #fff;line-height: 130%; font-family: "Gotham SSm A","Gotham SSm B"; font-weight:400;}
.about_wrap .sec03 .about_list ul li .cont strong{display: block;font-size: 48px;color: #fff;line-height: 100%; font-family: "Gotham SSm A","Gotham SSm B"; font-weight:700;}
.about_wrap .sec03 .about_list ul li .cont p{font-size: 16px;color: #ECEBE9;line-height: 150%; margin-top:12px;}

.about_wrap .sec03 .about_list ul li.show{opacity: 1;transform: translatey(0px);}
.about_wrap .sec03 .about_list ul li.about_list01{transition-duration: 2s}
.about_wrap .sec03 .about_list ul li.about_list02{transition-duration: 3s}
.about_wrap .sec03 .about_list ul li.about_list03{transition-duration: 4s}

.about_wrap .sec04{position: relative;padding: 420px 0 194px;overflow: hidden;}
.about_wrap .sec04 .bg_rebon {position:absolute; left:50%; top:0; width:100%; max-width:2560px; transform:translate(-50%,0); height:0; z-index:10;transition: all 15s linear;}
.about_wrap .sec04 .bg_rebon.show{height: 100%;}
.about_wrap .sec04 .bg_rebon:before {content:''; position:absolute; left:40px; top:0; width:100%; height:100%; background:url(/web/upload/mynomy/kr/main/bg_rebon_about_left.svg) no-repeat left top;}
.about_wrap .sec04 .bg_rebon:after {content:''; position:absolute; right:40px; top:0; width:100%; height:100%; background:url(/web/upload/mynomy/kr/main/bg_rebon_about_right.svg) no-repeat right top;}


.about_wrap .sec04 .tit{opacity: 0;transition: all 1.8s ease;transform: translatey(45px);}
.about_wrap .sec04 .tit.show{opacity: 1;transform: translatey(0px);}
.about_wrap .sec04 .beauty_list{padding-top: 160px;}
.about_wrap .sec04 .beauty_list ul{}
.about_wrap .sec04 .beauty_list ul li{overflow: hidden;margin-bottom: 200px;}
.about_wrap .sec04 .beauty_list ul li .txt{float: left;width: 50%;opacity: 0;transition: all 1.8s ease;transform: translateX(-45px);}
.about_wrap .sec04 .beauty_list ul li .txt.show{opacity: 1;transform: translateX(0px);}
.about_wrap .sec04 .beauty_list ul li .txt h3{font-size: 48px;color: #242424;line-height: 120%;font-weight: 700;}
.about_wrap .sec04 .beauty_list ul li .txt h3 span{display: inline-block;font-size: 16px;color: #989591;line-height: 100%;font-weight: 300;}
.about_wrap .sec04 .beauty_list ul li .txt > strong{display: block;font-size: 24px;color: #666666;line-height: 150%;padding: 14px 0 24px;}
.about_wrap .sec04 .beauty_list ul li .txt p{font-size: 16px;color: #666666;line-height: 150%;}
.about_wrap .sec04 .beauty_list ul li .img{float: right;width: 50%;text-align: center;opacity: 0;transition: all 1.8s ease;transform: translateY(45px); height:454px;}
.about_wrap .sec04 .beauty_list ul li .img img {width:384px; height:428px;-webkit-box-shadow: 24px 24px 0px 0px rgba(226,223,214,1); -moz-box-shadow: 24px 24px 0px 0px rgba(226,223,214,1); box-shadow: 24px 24px 0px 0px rgba(226,223,214,1);}
.about_wrap .sec04 .beauty_list ul li .img.show{opacity: 1;transform: translateY(0px);}

.about_wrap .sec05{background: #FF5D5C;padding-bottom: 0;}
.about_wrap .sec05 .tit{padding-bottom: 150px;opacity: 0;transition: all 1.8s ease;transform: translatey(45px);}
.about_wrap .sec05 .tit.show{padding-bottom: 150px;opacity: 1;transform: translatey(0px);}
.about_wrap .sec05 .tit strong{font-size: 82px;color: #fff;line-height: 120%;}
.about_wrap .sec05 .tit strong em{background: url(/web/upload/mynomy/kr/prd/ico_commas.svg) no-repeat center top 5px;background-size: contain;display: inline-block;padding: 0 10px;}
.about_wrap .sec05 .tit p{font-size: 28px;color: #fff;line-height: 130%;padding: 40px 0 110px;}
.about_wrap .sec05 .img{text-align: center;position: absolute;left: 0;bottom: -60px;right: 0;opacity: 0;transition: all 1.8s ease;transform: translatey(45px);}
.about_wrap .sec05 .img.show{text-align: center;position: absolute;left: 0;bottom: -62px;right: 0;opacity: 1;transform: translatey(0px);}

.about_wrap .sec06{background: url(/web/upload/mynomy/kr/prd/bg_about06.jpg) no-repeat center top;background-size: cover;padding: 230px 0;}
.about_wrap .sec06 .tit strong{font-size: 48px;color: #fff;line-height: 120%;text-align: left;}
.about_wrap .sec06 .txt{}
.about_wrap .sec06 .txt p{font-size: 20px;color: #fff;line-height: 150%;padding-bottom: 60px; font-weight:400;}

.about_wrap .sec07{position: relative; padding-top:252px;}
.about_wrap .sec07 .line_motion{position: absolute;left: 50%;top: 0px;width: 3px;height: 120px;background: #0B0A0A;opacity: 0;transition: all 0.2s ease;transform: translatey(-45px);}
.about_wrap .sec07 .line_motion.show{opacity: 1;transform: translatey(0px);}
.about_wrap .sec07 .tit{opacity: 0;transition: all 1.8s ease;transform: translatey(45px);}
.about_wrap .sec07 .tit.show{opacity: 1;transform: translatey(0px);}
.about_wrap .sec07 .intelligence_list{padding-top: 88px;}
.about_wrap .sec07 .intelligence_list ul{overflow: hidden;margin-left: -2%;}
.about_wrap .sec07 .intelligence_list ul li{float: left;width: 31.33%;margin-left: 2%;border-radius: 4px;opacity: 0;transition: all 0.8s ease;transform: translatey(145px);background-repeat: no-repeat;background-position: center top;background-size: cover;position: relative;height: 384px;}
.about_wrap .sec07 .intelligence_list ul li.show{opacity: 1;transform: translatey(0px);}
.about_wrap .sec07 .intelligence_list ul li.intelligence01{transition-duration: 2s}
.about_wrap .sec07 .intelligence_list ul li.intelligence02{transition-duration: 3s}
.about_wrap .sec07 .intelligence_list ul li.intelligence03{transition-duration: 4s}
.about_wrap .sec07 .intelligence_list ul li:before{content: '';border: 1px solid #fff;position: absolute;left: 14px;top: 16px;right: 15px;bottom: 16px;z-index: 2;}
/*.about_wrap .sec07 .intelligence_list ul li a:hover:after{content: '';width: 100%;height: 100%;background: #FF5D5C;opacity: 0.8;position: absolute;left: 0;top: 0;right: 0;bottom: 0;z-index: 1;}*/
.about_wrap .sec07 .intelligence_list ul li.intelligence01{background-image: url(/web/upload/mynomy/kr/prd/img_intelligence01.jpg);}
.about_wrap .sec07 .intelligence_list ul li.intelligence02{background-image: url(/web/upload/mynomy/kr/prd/img_intelligence02.jpg);}
.about_wrap .sec07 .intelligence_list ul li.intelligence03{background-image: url(/web/upload/mynomy/kr/prd/img_intelligence03.jpg);}
.about_wrap .sec07 .intelligence_list ul li .cont{position: absolute;left: 50%;top: 50%;z-index: 10;transform: translate(-50%,-50%);text-align: center;width: 100%;}
.about_wrap .sec07 .intelligence_list ul li .cont strong{display: block;font-size: 24px;color: #fff;line-height: 150%;padding-bottom: 15px;}
.about_wrap .sec07 .intelligence_list ul li .cont p{font-size: 16px;color: #fff;line-height: 150%;}

.about_wrap .sec08{padding-bottom:140px;}
.about_wrap .sec08 .tit{opacity: 0;transition: all 1.8s ease;transform: translatey(45px);}
.about_wrap .sec08 .tit strong {padding-bottom:40px;}
.about_wrap .sec08 .tit p em {font-weight:700;}
.about_wrap .sec08 .tit.show{opacity: 1;transform: translatey(0px);}
.about_wrap .sec08 .graph_area{position: relative;opacity: 0;transition: all 1.8s ease;transform: translatey(45px);}
.about_wrap .sec08 .graph_area.show{opacity: 1;transform: translatey(0px);transition-duration: 3s;}
.about_wrap .sec08 .graph_area .indicator{position: absolute;right: 22px;top: 123px;}
.about_wrap .sec08 .graph_area .indicator span{display: block;font-size: 12px;color: #0B0A0A;background-repeat: no-repeat;background-position: left center;padding-left: 25px;margin-bottom: 5px;}
.about_wrap .sec08 .graph_area .indicator span.indicator01{background-image:url(/web/upload/mynomy/kr/prd/ico_indicator01.png);}
.about_wrap .sec08 .graph_area .indicator span.indicator02{background-image:url(/web/upload/mynomy/kr/prd/ico_indicator02.png);}
.about_wrap .sec08 .graph_area .indicator span.indicator03{background-image:url(/web/upload/mynomy/kr/prd/ico_indicator03.png);}
.about_wrap .sec08 .graph_area .graph{padding-top: 263px;}
.about_wrap .sec08 .graph_area .graph ul{overflow: hidden;margin-left: -7%;}
.about_wrap .sec08 .graph_area .graph ul li{float: left;width: 43%;margin-left: 7%;}
.about_wrap .sec08 .graph_area .graph ul li:last-child .img:after{content: '';width: 80px;height: 80px; position: absolute;left: -85px;top: 50%;margin-top: -40px; background:url(/web/upload/mynomy/kr/prd/ar_vs.svg) no-repeat 50% 50%; background-size:100%;}
.about_wrap .sec08 .graph_area .graph ul li:last-child .txt span{background: #FF5D5C;}
.about_wrap .sec08 .graph_area .graph ul li .img{text-align: center; position: relative; width:542px; height:423px; display:flex; justify-content:center; align-items:flex-end;}
.about_wrap .sec08 .graph_area .graph ul li .img img{max-width: 100%; vertical-align:bottom;}
.about_wrap .sec08 .graph_area .graph ul li .txt{text-align: center;}
.about_wrap .sec08 .graph_area .graph ul li .txt span{display: inline-block;padding-bottom: 42px;font-size: 24px;color: #fff;background: #C6C2C0;border-radius: 50px;padding: 10px 30px;margin: 60px 0 40px;}
.about_wrap .sec08 .graph_area .graph ul li .txt strong{display: block;font-size: 28px;color: #333;line-height: 150%;padding-bottom: 16px;}
.about_wrap .sec08 .graph_area .graph ul li .txt p{font-size: 18px;color: #333333;line-height: 150%;}
.about_wrap .sec08 .graph_area .graph ul li .txt p.g_color{font-size: 14px;color: #605E5E;padding-top: 16px;}

.about_wrap .sec09{background: #6E6259;}
.about_wrap .sec09 .tit{opacity: 0;transition: all 1.8s ease;transform: translatey(45px);}
.about_wrap .sec09 .tit.show{opacity: 1;transform: translatey(0px);}
.about_wrap .sec09 .tit strong{color: #fff;line-height: 100%;}
.about_wrap .sec09 .tit strong img{}
.about_wrap .sec09 .tit p{color: #fff;}
.about_wrap .sec09 .promise_list{padding-top: 88px;}
.about_wrap .sec09 .promise_list ul{overflow: hidden;margin-left: -2%;}
.about_wrap .sec09 .promise_list ul li{float: left;width: 31.33%;margin-left: 2%;text-align: center;opacity: 0;transition: all 0.2s ease;transform: translatey(145px);}
.about_wrap .sec09 .promise_list ul li .img{position: relative;}
.about_wrap .sec09 .promise_list ul li .img img {width:300px; height:300px;}
.about_wrap .sec09 .promise_list ul li .img p{display: block;width: 168px;height: 54px;background: url(/web/upload/mynomy/kr/prd/bg_point_r.png) no-repeat center top;position: absolute;left: 50%;bottom: -18px;margin-left: -84px;}
.about_wrap .sec09 .promise_list ul li .img p span{display: block;font-size: 14px;color: #fff;font-weight: 700;padding: 8px 0;line-height: 130%;}
.about_wrap .sec09 .promise_list ul li .txt{font-size: 16px;color: #fff;line-height: 150%;padding-top: 35px;}

.about_wrap .sec09 .promise_list ul li.show{opacity: 1;transform: translatey(0px);}
.about_wrap .sec09 .promise_list ul li.promise01{transition-duration: 3s}
.about_wrap .sec09 .promise_list ul li.promise02{transition-duration: 4.5s}
.about_wrap .sec09 .promise_list ul li.promise03{transition-duration: 6s}


.about_wrap .sec10{background: url(/web/renew_img/bg_about10.jpg) no-repeat center top;background-size: cover;height: 1080px;padding: 0;}
.about_wrap .sec10 .inner{width: 100%;height: 100%;display: table;}
.about_wrap .sec10 .txt{display: table-cell;vertical-align: middle;text-align: center;}
.about_wrap .sec10 .txt p{display: block;font-size: 82px;color:rgba(11, 10, 10, 0);line-height: 100%;-webkit-text-stroke: 1px #0B0A0A;font-weight: 700;position: relative; font-family: "Gotham SSm A","Gotham SSm B"; font-weight:700;}
.about_wrap .sec10 .txt p strong{display: block;font-size: 82px;color:rgba(11, 10, 10, 0);line-height: 100%;-webkit-text-stroke: 1px #0B0A0A;transition: all 4s ease; font-family: "Gotham SSm A","Gotham SSm B"; font-weight:700;}
.about_wrap .sec10 .txt p strong.change{opacity: 0;position: absolute;left: 0;bottom: 0;right: 0;color: #0B0A0A;letter-spacing: normal;}

/* skin history */
.sHisWrap {position:relative; padding:40px 0 80px 0; background:#FFF;}
.sHisWrap img {max-width:100%;}
.sHisWrap .hisConBlock {position:relative; padding:80px 0; width:100%; max-width:1280px; margin:0 auto;}
.sHisWrap .hisConBlock .comnHisTitle {color:#0B0A0A; font-size:40px; font-weight:700; text-align:center;}
.sHisWrap .hisConBlock .comnHisSubTitle {color:#0B0A0A; font-size:28px; font-weight:700; text-align:center;}
.sHisWrap .hisConBlock .comnDesc {color:#0B0A0A; font-size:20px; font-weight:700; line-height:1.5; font-weight:400; text-align:center;}
.sHisWrap .hisConBlock .comnDesc strong {font-weight:700 !important;}
.sHisWrap .hisConBlock .imgSec {margin:0 auto;}
.sHisWrap .hisConBlock.sec01 {background: linear-gradient(180deg, #EBF3F3 0%, rgba(235, 243, 243, 0.27) 100%);}
.sHisWrap .hisConBlock.sec01 .imgSec {max-width:653px; margin-top:12px;}

.sHisWrap .hisConBlock.sec02 {background: linear-gradient(180deg, #EBF3F3 0%, rgba(235, 243, 243, 0.27) 100%);}
.sHisWrap .hisConBlock.sec02 .imgSec {max-width:720px;}

.sHisWrap .hisConBlock.sec03 {background:#E2ECEC;}
.sHisWrap .hisConBlock.sec03 .imgSec {max-width:720px; padding:40px 0 58px 0;}
.sHisWrap .hisConBlock.sec03 .imgSec.step {max-width:520px; padding:25px 0 40px 0;}

.brandVod {display:block; position:relative; overflow:hidden; max-width:1200px; margin:0 auto;}
.brandVod:after {content:''; display:block; padding-bottom:56.25%;}
.brandVod iframe, .brandVod video {position:absolute; left:50%; transform:translate(-50%, 0); top:0px; width:100%; height:100%;}