#sidebar { display:flex; flex-direction:column; justify-content: space-between; width:232px; min-height:1062px; margin:0 36px 0 0; padding:40px 16px 20px 16px; color:#0b0a0a; background:#fff; /*border:1px solid #eee;*/ box-sizing:border-box; }
/*#sidebar { display:block; height:1200px; border-right:1px solid #f2f2f2; margin:0 64px 0 0; padding:56px 0; color:#000; }*/

#sidebar .menu_tit { color:#0b0a0a; margin:0 4px 16px; }
#sidebar .menu_tit::after { content:""; display:block; clear:both; }
#sidebar .menu_tit h3 { font-size:32px; line-height:48px; font-weight:700; }
#sidebar .menu_tit p { font-size:14px; line-height:21px; font-weight:500; margin:0 0 4px; }
#sidebar .menu_tit i { font-size:20px; line-height:48px; float:right; }

#sidebar .btn_q { display: flex; align-items: center; justify-content: center; height: 52px;  margin: 8px 4px 0; border-radius: 4px; background: #ff5c5c; box-shadow:0 4px 8px rgb(0 0 0 / 25%); }
#sidebar .btn_q a { font-size: 16px; color: #fff; }
#sidebar .btn_q span { display: flex; align-items: center; letter-spacing:-1px;}
#sidebar .btn_q span img { margin:0 0 0 6px; }

#sidebar .itemMenu { margin:20px auto 0; padding:20px 0; }
#sidebar .itemMenu ul { display:flex; flex-wrap: wrap; }
#sidebar .itemMenu ul li { width:50%; }
#sidebar .itemMenu ul li img { width:24px; }
#sidebar .itemMenu ul li a { display:flex; flex-direction:column; margin:4px; padding:20px 10px 20px 20px; border-radius:4px; background:#fff; box-shadow:0 4px 10px rgb(0 0 0 / 10%); }
#sidebar .itemMenu ul li .title { font-size:14px; line-height:21px; font-weight:400 !important; letter-spacing:-0.05em; }
#sidebar .itemMenu ul li .data { font-size:32px; line-height:48px; }
#sidebar .itemMenu ul li .data sup {display:inline-block; width:5px; height:5px; background:#FF5D5C; border-radius:50%; vertical-align:text-top; margin-left:3px; margin-top:6px;}

#sidebar .sideMenu { color:#000; box-sizing:border-box; margin:0 4px; margin-bottom:auto; }
#sidebar .sideMenu .menu {  }
#sidebar .sideMenu .menu.point h3::after { content: ""; display: inline-block; width: 4px; height: 4px; background: #ff5c5c; border-radius: 50%; margin: 0 0 10px 6px; }
#sidebar .sideMenu .menu h3 { position: relative; font-size: 16px; font-weight:500; line-height: 60px; cursor: pointer; }
#sidebar .sideMenu .menu h3 img { margin:0 8px 0 0; vertical-align:middle; }
#sidebar .sideMenu .menu h3 sup {display:inline-block; width:5px; height:5px; background:#FF5D5C; border-radius:50%; vertical-align:text-top; margin-left:4px; margin-top:0px;}

#sidebar .log { font-size:14px; line-height:21px; color:#999; text-align:center; margin-top:auto; }
/*#sidebar .sideMenu .menu h3.on { background:rgba(217,217,217,0.5); }
#sidebar .sideMenu .sub_menu { display:none; margin:0 0 8px; }
#sidebar .sideMenu .sub_menu li { padding: 0 16px 0 92px; }
#sidebar .sideMenu .sub_menu li a { font-size:13px; line-height:36px; color:#000; font-weight:500; -webkit-transition: all 0.15s;	-moz-transition: all 0.15s;	-o-transition: all 0.15s;	-ms-transition: all 0.15s;	transition: all 0.15s;}
#sidebar .sideMenu .menu.active ul { display: block; }*/


 #mypage #container { display:flex; align-items: flex-start; width:100%; max-width:1200px; min-height: calc(100vh - 60px); margin: 64px auto 94px; /*background: linear-gradient(180deg, #f7f6f4, transparent) no-repeat; background-size:100% 800px;*/ }
 #mypage #container #contents { width: 932px; margin:0; margin-right:auto; }
 #mypage.bg { background:#f8f6f4; }

.titleArea.left { text-align:left; margin:0; }
.titleArea.center { margin:16px auto 48px; }
.titleArea.center h3 { line-height:32px; }
.titleArea h3 { display:inline-block; font-size: 24px; line-height:60px; color:#0b0a0a; font-weight: 700; border:0; padding:0; margin-bottom:20px;}
.titleArea p { font-size:16px; line-height:22px; color:#333; margin:16px 0; }
.titleArea span.help i { font-size:30px; color:#ff585d; margin:0 0 0 8px; cursor:pointer; }

.event_banner { width:100%; max-width:932px; margin:20px auto; }
.event_banner.fb {margin:0 auto;}
.event_banner img { width:100%; }

.progress { display: flex; justify-content: space-between; align-items: center; position: relative; padding:24px 40px; background:#fff; border-radius:4px; }
.progress .see_more{position: absolute; right: 38px; top:38px; font-size: 12px; font-weight: 600;}
.see_more .arr{margin: 0px 0px 0px 3px;}
.progress .prog_txt{padding:0px; flex: 1;}
.progress h3 { font-size:20px; line-height:1.0; color:#0B0A0A; font-weight:700;}
.progress p { font-size:12px; line-height:1.0; color:#333; font-weight:400; margin-bottom:4px;}
.progress .mBtn { margin-left:auto; }
.prog_quiz{display: flex; justify-content:flex-start; align-items:flex-end;}
.prog_dl{display: flex; align-items: center;}
.prog_dl dt{width: 58px; height: 58px; overflow: hidden;}
.prog_dl dd{padding: 0px 0px 0px 12px;}
.prog_dl dd .date{font-size: 12px; font-weight: 300; color: #989591; padding: 0px 0px 8px 0px;}
.prog_dl dd .sentence{}
.prog_dl dd .sentence span{font-size: 16px; color: #0B0A0A;}
.prog_dl dd .sentence strong{font-size: 16px; font-weight:700 !important; }
.prog_dl dd .sentence .arr_top{width: 10px; height: 10px; display: inline-block; background: url('//ecimg.cafe24img.com/pg115b69008946048/cosmaxtest/web/upload/mynomy/kr/layout/arr_gotop.png') no-repeat center center; margin: 0px 0px 0px 1px;}

.progBox {border-radius:4px; margin-right:7px;}
.progBox:last-child {margin-right:0;}
.progBox a {display:flex; justify-content:center; align-items:center; padding:15px 22px; color:#0B0A0A; font-size:14px; font-weight:600; position:relative;}
.progBox a strong {font-weight:600; font-size:16px; margin-right:4px;}
.progBox a:after {content:''; display:inline-block; width:11px; height:10px; background:url(/web/renew_img/ar_survey.svg) no-repeat 50% 50%; margin-left:2px;}
.progBox.skin {background:#E2EBED;}
.progBox.hair {background:#EDE7E2;}


/* 탭메뉴 공통 */
[class*="Tab"] { width:100%; margin:0 auto; }
[class*="Tab"] [class*="menu"] { display:flex; margin: 0 0 20px; box-sizing:border-box; width:100%; } 
[class*="Tab"] [class*="menu"].gFlex2 > li { width:50%; }
[class*="Tab"] [class*="menu"].gFlex3 > li { width:33.333%; }
[class*="Tab"] [class*="menu"].gFlex4 > li { width:25%; }
[class*="Tab"] [class*="menu"]:not(.menu02) li { height:40px; line-height:40px; background:#fff; border:1px solid #e6e6e6;  /*-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;*/ }
[class*="Tab"] [class*="menu"]:not(.menu02) li a { display:block; font-size:14px; color: #999; text-align:center;  }
[class*="Tab"] [class*="menu"]:not(.menu02) li.on { background:#0b0a0a; border:1px solid #0b0a0a; }
[class*="Tab"] [class*="menu"]:not(.menu02) li.on a { color:#fff; font-weight:500; /*border-bottom:none;*/ }

[class*="Tab"] .menu02 { margin:0 0 20px; }
[class*="Tab"] .menu02 li { padding:0 20px; box-sizing:border-box; /*-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;*/ }
[class*="Tab"] .menu02 li:last-child { border-right:0; }
[class*="Tab"] .menu02 li a { display:block; font-size:16px; line-height:48px; color: #666; text-align:center;  }
[class*="Tab"] .menu02 li.on { }
[class*="Tab"] .menu02 li.on a { color:#ff585d; font-weight:700; }

[class*="Tab"] [class*="con"] > li > .ec-over-product { margin:0 !important; }
[class*="Tab"] > [class*="con"] { margin:0; }
[class*="Tab"] [class*="con"] > li { display:none; }
[class*="Tab"] [class*="con"] > li.on { display:block }
[class*="Tab"] [class*="con"] p.empty { font-size:16px; text-align:center; padding:64px 0; }

.tabTit { font-size:18px; font-weight:600; margin: 16px auto;  padding: 16px 0 0; }

.order_history{width: 100%; background-color: #eee; margin: 0px 0px 15px 0px;} 
.order_history.ship {background:transparent;}
.order_top{box-sizing: border-box; width: 100%; padding: 27px 24px 25px; display: flex; justify-content: space-around; border-bottom: 1px solid #dbdbdb;}
.order_share{width: 25%; height: 96px; display: flex; flex-direction: column; align-items: center; justify-content: center; border-right: 1px solid rgb(198,194,192, 0.4);}
.order_share:last-child{border-right: none;}
.order_share .call{font-size: 16px; color: #666; margin: 0px 0px 12px;}
.order_share .points{font-size: 32px; font-weight: 300; color: #666;}
.order_share.select .call{font-weight: 700; color: #FF5D5C;}
.order_share.select .points{color:#0B0A0A;}
.field_line{box-sizing: border-box;}
.field_line.ship{padding: 0px;}
.field_line::after{content: ''; display: block; clear: both;}
.set.xans-myshop-orderhistoryhead .field_line fieldset.ec-base-box{float: left; border: none; padding: 0px;}
.btn_field{width: 75px; height: 40px; background-color: #989591; font-size: 12px; color: #fff; float: left;}
.set.xans-myshop-orderhistoryhead .field_line select{font-size: 12px; color: #0B0A0A;} 
.contact_date{box-sizing: border-box; display: inline-block; width: 100px; height: 40px; background-color: #fff; border: 1px solid #E6E6E6; vertical-align:middle;}
.set.xans-myshop-orderhistoryhead .contact_date input[type=text]{width: 100px; border: none; outline: none; font-size: 12px; color: #0B0A0A; height:38px; line-height:38px; background: url(/web/upload/mynomy/kr/layout/icon_calendar.png) no-repeat 88% center !important; background-size: 15px 14px; padding:0 8px;}
.contact_date .ic_calen{width: 32px; height: 40px; float: right; display: inline-block; background:url('//ecimg.cafe24img.com/pg115b69008946048/cosmaxtest/web/upload/mynomy/kr/layout/icon_calendar.png') no-repeat center center;
background-size: 15px 14px; cursor: pointer;}
.date_wave{font-size: 16px; font-weight: 500; margin: 0px 2px; vertical-align: middle;}
.date_wave + .contact_date{margin: 0px 10px 0px 0px;}

.diagnosisList .diagnosis .prd{width: 300px;position: relative; margin: 0 16px 12px 0; padding: 0px; background: #fff; border-radius: 4px; box-sizing: border-box;}
.prd .prd_mark{position: absolute; left:-12px; top:20px; width: 41px; height: 39px; background: url('//ecimg.cafe24img.com/pg115b69008946048/cosmaxtest/web/upload/mynomy/kr/layout/item_mark.png') no-repeat center top; 
text-align: center; padding: 3px 5px 0px; overflow: hidden; z-index: 30;}
.prd_mark .txt{font-size: 12px; font-weight: 400; color: #fff;}
.diagnosis .prd .top{width: 100%; height: 300px; border-radius: 4px 4px 0px 0px; overflow: hidden;}
.prd_conts{box-sizing: border-box; width: 100%; padding: 19px 36px 24px;} 
.prd_conts .prd_midd{margin: 0px 0px 10px;}
.prd_midd .title{text-align: center; margin: 0px 0px 18px; display: block;}
.prd_midd .title .mini{font-size: 10px; color: #999; font-weight: 300; line-height: 26px;}
.prd_midd .title h1{font-size: 24px; font-weight: 700; color: #0B0A0A;}
.prd_midd .prd_info {width: 100%; padding: 0px 0px 7px; border-bottom: 1px solid #0B0A0A; display: flex; justify-content: space-between;}
.prd_info dl{width: 48%; border-top: 1px solid #999; padding:7px 0px;}
.prd_info dl.ing{border-top: 1px solid #0B0A0A;}
.prd_info dl dt{font-size: 14px; font-weight: 600; color: #999; line-height: 26px;}
.prd_info .ing dt{color: #0B0A0A; font-weight: 700;}
.prd_info .ing dd p{color: #0B0A0A;}
.prd_info dl dd p{font-size: 12px; font-weight: 400; color: #999; line-height: 24px;}
.prd_info dl dd p .type{font-size: 14px;}
.prd_info dl .level{display: inline-block; font-size: 9px; color: #fff; line-height: 12px; margin: 0px 1px 0px 0px; padding: 1px 3px 2px; background-color: #999; border-radius: 2px; }
.prd_info .ing .level{background-color: #0B0A0A;}
.prd_frag{width: 100%; padding: 9px 0px;}
.prd_frag .fig{width: 100%; display: flex; align-items: flex-start;}
.prd_frag .fig img{width: 24px; border-radius: 50%; margin: 0px 5px 0px 0px;}
.prd_frag .fig .word{font-size: 14px; color: #0B0A0A; margin: 5px 0px 0px;}
.prd_btline{width: 100%; display: flex; align-items: center; justify-content: space-between;}
.btn_prd{width: 100%; height: 48px; background-color: #989591; border-radius: 4px; padding: 5px 8px; color: #fff; font-size: 14px; letter-spacing: -0.5px;}
.btn_prd.half{width: 48.5%;}


/* 진단, 재구매내역 */
.repurchaseWrap { /*display:flex;*/ width:315px; margin:0 auto; }
.repurchaseWrap > div { flex:1; }
.repurchaseWrap .center { display:flex; flex-direction: column; justify-content: space-between; }
.repurchaseWrap .center p { text-align:center; margin:16px auto 24px; }
.repurchaseWrap .center p a { position:relative; font-size:16px; line-height:21px; color:#666; }
.repurchaseWrap .center p i { line-height: 21px; vertical-align: bottom; }
/*.repurchaseWrap .center p a::after { content:""; position:absolute; bottom:-4px; right:0; width:100%; height:1px; background:#d1d1d1; }*/
.repurchaseWrap .diagnosisList .diagnosis { justify-content: center; }
.repurchaseWrap .diagnosisList .diagnosis > div { margin:0; }

.diagnosisList .diagnosis { display:flex; flex-wrap:wrap; width:100%; max-width:932px; margin:0 auto; }
.diagnosisList .diagnosis > div { width:300px; position:relative; padding:32px 38px; margin:0 16px 12px 0; background:#d6ddd1; border-radius:4px; box-sizing:border-box; }
.diagnosisList .diagnosis > li { width:300px; position:relative; padding:32px 38px; margin:0 16px 12px 0; background:#d6ddd1; border-radius:4px; box-sizing:border-box; }
.diagnosisList .diagnosis > li:nth-child(3n) { margin-right:0; }

.diagnosisList .diagnosis .item.shampoo { background:#d6ddd1; }
.diagnosisList .diagnosis .item.treatment { background:#c3cabd; }

.diagnosisList .diagnosis .name { font-size:14px; line-height:21px; color:#666; font-weight:400; }
.diagnosisList .diagnosis .nickName { font-size:20px; line-height:30px; color:#0b0a0a; font-weight:700; margin:5px auto 9px; }
.diagnosisList .diagnosis .date { font-size:12px; line-height:18px; color:#666; }
.diagnosisList .diagnosis .date > span { margin-right:8px; }
.diagnosisList .diagnosis .date > span:last-child { margin:0; }

.diagnosisList .diagnosis .mid { width:156px; margin:10px auto;  }
.diagnosisList .diagnosis .mid img { width:100%; }

.diagnosisList .diagnosis .bottom { height:101px; padding:4px 0 0; border-top:1px solid #0b0a0a; box-sizing:border-box; }
.diagnosisList .diagnosis .bottom li { display:flex; justify-content: space-between; align-items: center; font-size:14px; line-height:21px; margin:8px auto 0; }
.diagnosisList .diagnosis figure { width:60%; }
.diagnosisList .diagnosis figure img { width:24px; border-radius:50%; }
.diagnosisList .diagnosis figure figcaption { display:inline-block; font-size:14px; line-height:24px; color:#333; margin-left:8px; font-family:'Pretendard'; }

.diagnosisList .diagnosis .mBtn { margin:20px 0 0; }

.diagnosisList .diagnosis li strong { display:block; margin:0; font-size:14px; line-height:21px; color:#999; font-weight: 400 !important; }
.diagnosisList .diagnosis .count { font-size:32px; line-height:48px; color:#0b0a0a; font-weight:600; }

/* 구독내역 */
.slideWrap { width:100%; margin:0 auto 48px; background: #fff; border-radius:4px; }
.swiper-container.cardSlide { width: 500px; padding: 80px 0; }
.cardSlide .swiper-slide { width: auto; margin: 0 auto; text-align: center; display: flex; align-items: center; justify-content: center; box-sizing: border-box;}
.cardSlide .swiper-slide.addCard { height:128px; }
.cardSlide .swiper-slide.addCard .add { position: absolute; top: 50%; transform: translate(-50%, -50%); font-size:14px; color:#b2ada9; font-weight:400; }
.cardSlide .swiper-slide.addCard .add i { font-size:30px; margin:0 0 8px; }


/*주문/배송조회*/
.diagnosis_order { background:#fff; border-radius:4px; border:1px solid #ddd; padding:24px 64px; margin:0 0 16px; /*padding:16px 14px; margin:0 0 16px; background:#fff; border-radius:4px; border:1px solid #ddd;*/ }
.diagnosis_order .top { display:flex; justify-content: space-between; margin:0 0 24px; padding: 0 0 24px; border-bottom: 1px solid #ddd; }
.diagnosis_order .top .detail_view { font-size:14px; color:#0b0a0a;}
.diagnosis_order .top .date { font-size:14px; }

.diagnosis_order .mid { display: flex; }
.diagnosis_order .mid .thumbnail { max-width:160px; width:100%; }
.diagnosis_order .mid .thumbnail img { width:100%; border-radius:4px; }
.diagnosis_order .mid .info { width:100%; margin:0 24px; }
.diagnosis_order .mid .info h3 { font-size:24px; font-weight:600; color:#0b0a0a; margin:10px 0; }
.diagnosis_order .mid .info h4 { font-size:16px; color:#333; font-weight:500; }
.diagnosis_order .mid .info p {  font-size:16px; line-height: 24px; color:#333; }
.diagnosis_order .mid .info p.unfinished { margin:8px 0 0; }
.diagnosis_order .mid .info span { font-size:16px; margin:0 16px 0 0; }
.diagnosis_order .mid .state { display:flex; flex-direction: column; justify-content: space-between; align-items: flex-end; max-width:320px; width:100%; text-align:right; }
.diagnosis_order .mid .state span { display:inline-flex; align-items: center; justify-content: center; font-size:14px; line-height:14px; padding:12px 24px; font-weight:500; color:#0b0a0a; background:#d4dd69; border-radius:20px; margin:0 4px; }


/* 내 리뷰 */
.myArea .xans-board-listpackage { background:transparent; }

.diagnosis_review {  background:#fff; border-radius:4px; border:1px solid #ddd; padding:24px 64px; margin:0 0 16px; }
.diagnosis_review .mBtn .point { position:absolute; bottom:36px; right:4px; font-size:13px; font-weight: 500; color: #0b0a0a; background:#d4dd69; padding:4px 8px; border-radius:20px; }
.diagnosis_review .mBtn .point .tail { position:absolute; top:22px; left:50%; margin-left:-6px; border-right:6px solid transparent; border-top:6px solid #d4dd69; border-left:6px solid transparent; }
/*.diagnosis_review.unwritten { background: #f8f6f4; }*/
.diagnosis_review .top { display:flex; justify-content: space-between; margin:0 0 24px; padding: 0 0 24px; border-bottom: 1px solid #ddd; }
.diagnosis_review .top .detail_view { font-size:14px; color:#0b0a0a; }
.diagnosis_review .top .date { font-size:14px; }

.diagnosis_review .mid { display: flex; }
.diagnosis_review .mid .thumbnail { max-width:160px; width:100%; }
.diagnosis_review .mid .thumbnail img { width:100%; border-radius:4px; }
.diagnosis_review .mid .info { width:100%; margin:0 24px; }
.diagnosis_review .mid .info h3 { font-size:24px; font-weight:600; color:#0b0a0a; margin:10px 0; }
.diagnosis_review .mid .info h4 { font-size:16px; color:#333; font-weight:500; }
.diagnosis_review .mid .info p {  font-size:16px; line-height: 24px; color:#333; }
.diagnosis_review .mid .info p.unfinished { margin:8px 0 0; }

.diagnosis_review .bottom { display:flex; justify-content: space-between; margin:24px 0 0; padding:24px 0 0; border-top:1px solid #ddd; }
.xans-board-list .diagnosis_review .bottom .summary { margin:0 16px 0 0; }
.xans-board-list .diagnosis_review .bottom .summary span { font-size:14px; color:#555; }
.xans-board-list .diagnosis_review .bottom .summary .subject { display:block; padding:10px 0 0; font-size:16px; line-height:1.3em; color:#333; }
.xans-board-list .diagnosis_review .bottom .summary .comment { color:#555; }
.xans-board-list .diagnosis_review .bottom .summary .point img { width:auto; height:13px; vertical-align:-1px; margin:0 8px 0 0; }

/* 정렬 */
.xans-board-listpackage .boardSort { padding:0 14px; }
.xans-board-listpackage .boardSort:after { content:""; display:block; clear:both; }
.xans-board-listpackage .boardSort span { float:left; width:49%; font-size:13px; }
.xans-board-listpackage .boardSort span:first-of-type { padding:0 2% 0 0; }
.xans-board-listpackage .boardSort span select { margin:7px 0; width:100%; }

/* 펼쳐보기 */
.detail.eToggle { }
.detail.eToggle.selected .detail_info { display:block; margin:16px 0 0; }
.detail.eToggle > .title { display:flex; justify-content: center; padding: 24px 0 0; margin:24px 0 0; border-top:1px solid #ddd; cursor:pointer; }
.detail.eToggle > .title:after { top: 8px; }
.detail.eToggle > .title h4 { font-size:16px; line-height:16px; font-weight: 600; color:#0b0a0a;}
.detail.eToggle > .title h4.close { display:none; }
.detail.eToggle.selected > .title h4.open { display:none; }
.detail.eToggle.selected > .title h4.close { display:block; }
.detail .detail_info { display:none; }

.barBox { display:flex; justify-content: center; }
.barBox .barWrap { display:flex; flex-direction: column; justify-content: space-between; align-items: flex-end; max-width:600px; width:100%;  }
.barBox .barArea { width:100%; margin:8px auto; }
.barBox .barArea > div { display:flex; justify-content: space-between; width:100%; }
.barBox .barArea .bar { height:40px; line-height:40px; background:#d1d1d1; text-align:center; border-radius:4px; overflow:hidden; }
.barBox .barArea .bar > span { flex:1; font-size:16px; color:#fff; font-weight:300;  }
.barBox .barArea .bar > span.checked { background:#d4dd69; color:#0b0a0a; font-weight:400; }
.barBox .barArea .txt { font-size:14px; line-height:21px; color:#999; font-weight:400; margin:0 0 4px; }
.barBox .barArea .txt span.checked { color:#333; }
.barBox .barArea .txt span:first-child { text-align:left; }
.barBox .barArea .txt span:last-child { text-align:right; }


/* 정보노출 팝업 */
.infoBox { position: fixed; top:50%; left:50%; transform:translate(-50%, -50%); width:480px; color:#666; letter-spacing: -0.03em; background: #fff; padding: 24px 30px; border:1px solid #eee; border-radius: 0; box-sizing:border-box; z-index:200; opacity: 0; visibility: hidden; transition: all .3s; }
.infoBox p.color { font-size: 16px; line-height: 24px; color:#ff585d; font-weight:600; margin:24px auto 16px; }
.infoBox .close { position:absolute; top:23px; right:30px; /*width:32px; height:32px; line-height:32px; background:#f9f9f9; border-radius:100%;*/ text-align:center; cursor: pointer; }
.infoBox .close i { font-size: 13px; }
.infoBox .infoArea {  }
.infoBox .infoArea .info { display:flex; align-items: center; margin:16px 0 0; }
.infoBox .infoArea .info .img { max-width:56px; width:100%; }
.infoBox .infoArea .info .img img { width:100%; }
.infoBox .infoArea .info .txt { margin:0 0 0 16px; }
.infoBox .infoArea .info .txt h3 { font-size:16px; line-height:24px; color:#0b0a0a; font-weight:600; margin:0 0 4px; }
.infoBox .infoArea .info .txt p { font-size:14px; line-height:18px; color: #666; }
.infoBox + .infoBox-dimmed { position: fixed; left: 0px; top: 0; right: 0px; bottom: 0px; z-index: 100; background: rgba(0,0,0,0.7); cursor: pointer; opacity: 0; visibility: hidden; transition: all .3s; }

html.expand-box { position: fixed; overflow: hidden !important; touch-action: none; width: 100%; height: 100%; }
html.expand-box body { position: absolute; overflow: hidden !important; touch-action: none; width: 100%; height: 100%; }
html.expand-box #container { position: relative; }
html.expand-box .infoBox { opacity: 1; visibility: visible; }
html.expand-box .infoBox-dimmed { opacity: 1; visibility: visible; }

/* ADD */
.posFb {position:absolute; left:50%; top:-13px; transform:translate(-50%, 0); padding:6px 8px; background:#FF5D5C; border-radius:30px; color:#FFF; font-size:8px; font-weight:400; white-space:nowrap;}
.posFb img {display:inline-block; vertical-align:middle;}

.floatBnr {position:fixed; right:46px; bottom:200px; z-index:1000;}
.floatBnr .odrStats {text-indent:-99999px;}
.floatBnr .odrStats a {display:block; width:86px; height:86px; position:relative; animation:circleMove-01 6s infinite; text-indent:-99999px;}

@keyframes circleMove-01 {
    0% {opacity:1; background:url(/web/upload/mynomy/kr/prd/ord_stats01.svg) no-repeat 50% 50%; background-size:100%;}
	33% {opacity:1; background:url(/web/upload/mynomy/kr/prd/ord_stats02.svg) no-repeat 50% 50%; background-size:100%;}
	66% {opacity:1; background:url(/web/upload/mynomy/kr/prd/ord_stats03.svg) no-repeat 50% 50%; background-size:100%;}
    100% {opacity:1; background:url(/web/upload/mynomy/kr/prd/ord_stats01.svg) no-repeat 50% 50%; background-size:100%;}
}

/* 
.floatBnr .odrStats a {display:block; width:86px; height:86px; position:relative; background:#000; border-radius:50%; padding:20px 0; text-align:center; color:#FFF; font-size:12px; font-weight:500; box-sizing:border-box; z-index:20;
-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
}
.floatBnr .odrStats a:after {content:''; position:absolute; right:0; bottom:0; width:21px; height:21px; background:url(/web/upload/mynomy/kr/diagnosis/ico_tail.png) no-repeat 50% 50%; background-size:100%; display:none;}
 */
.floatBnr .odrStatsExp {position:absolute; right:0; bottom:0; padding:20px; width:380px; height:auto; background:#FAF8F6; border-radius:10px; box-sizing:border-box; z-index:10;
box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}
.floatBnr .odrStatsExp.on {z-index:10; opacity:1.0; bottom:0;}
.floatBnr .odrStatsExp .osClose {position:absolute; right:-15px; bottom:-15px; width:30px; height:30px; cursor:pointer; z-index:10; background:#000; border-radius:50%;}
.floatBnr .odrStatsExp .osClose:before {content:''; position:absolute; left:14px; top:9px; transform:rotate(45deg); width:2px; height:12px; background:#FFF;}
.floatBnr .odrStatsExp .osClose:after {content:''; position:absolute; left:14px; top:9px; transform:rotate(-45deg); width:2px; height:12px; background:#FFF;}
.floatBnr .odrStatsExp .osTitle {color:#FF585D; font-size:12px; line-height:18px; margin-bottom:15px; padding:0 20px;}
.floatBnr .odrStatsExp .osBox {display:flex; justify-content:space-between; align-items:center; margin-bottom:14px;}
.floatBnr .odrStatsExp .osBox:last-child {margin-bottom:0;}
.floatBnr .odrStatsExp .osBox .ico {width:56px; height:54px;}
.floatBnr .odrStatsExp .osBox .ico.stats01 {background:url(/web/upload/mynomy/kr/diagnosis/ico_make_step01.svg) no-repeat 50% 50%; background-size:auto 54px;}
.floatBnr .odrStatsExp .osBox .ico.stats02 {background:url(/web/upload/mynomy/kr/diagnosis/ico_make_step02.svg) no-repeat 50% 50%; background-size:auto 54px;}
.floatBnr .odrStatsExp .osBox .ico.stats03 {background:url(/web/upload/mynomy/kr/diagnosis/ico_make_step03.svg) no-repeat 50% 50%; background-size:auto 54px;}
.floatBnr .odrStatsExp .osBox .osInfo {width:calc(100% - 65px);}
.floatBnr .odrStatsExp .osBox .osInfo .inTitle {font-size:12px; color:#000; font-weight:600; margin-bottom:4px;}
.floatBnr .odrStatsExp .osBox .osInfo .inDesc {font-size:12px; color:#5D5C5C; font-weight:400; line-height:18px;}


/* 버튼 공통 */
.btnBl, .btnWt, .btnGr, .btnPk { display:inline-block; font-size:15px; letter-spacing:-0.03em; text-align:center; height:48px; line-height:48px; border-radius:4px; -moz-box-sizing:border-box; box-sizing:border-box; border:1px solid transparent; }
.btnLine { display:inline-block; width:96px; height:40px; line-height:40px; font-size:14px; border:1px solid #d1d1d1; background:#fff; margin:4px auto !important; }
.btnBl { background:#0b0a0a; color:#fff; }
.btnWt { background:#fff; color:#0b0a0a; }
.btnGr { background:#e6e6e6; color:#666; }
.btnPk { background:#ff5c5c; color:#fff; }

.btnKey {font-size:16px; display:block; width:100%; background: #FF5D5C; color:#fff; height:48px; line-height:48px; border-radius:4px; -moz-box-sizing:border-box; margin-bottom:8px;}
.btnBuy {font-size:16px; display:block; width:100%; background: #0b0a0a; color:#fff; height:48px; line-height:48px; border-radius:4px; -moz-box-sizing:border-box; }

.btnRebuy { display:inline-block; width:96px; height:auto; padding:6px 0; font-size:14px; border:1px solid #000; background:#000; color:#FFF; margin:4px auto !important; position:relative;}
.btnRebuy:after {content:''; display:inline-block; width:68px; height:8px; background:url(/web/upload/mynomy/kr/prd/bi_feedback_key_small.svg) no-repeat 50% 50%; background-size:100%; margin-top:0px;}
.btnRebuy.single:after {display:none;}

.btnLineG { display:inline-block; width:96px; font-size:14px; border:1px solid #d1d1d1; background:#fff; margin:4px auto !important; padding:9px 0;}

/* mBtn */
.mBtn { width:100%; max-width:224px; margin:0; text-align:center; }
.mBtn a { margin:0 0 8px; }
.mBtn a:last-child { margin:0; }
.mBtn.left { text-align:left; }
.mBtn.right { text-align:right; }
.mBtn:after { content:""; display:block; clear:both; }

/* gColumn */
.mBtn[class*="gColumn"] { display:flex; align-items: flex-end; position:relative; }
.mBtn[class*="gColumn"]:after { content:none; }
.mBtn[class*="gColumn"] a,
.mBtn[class*="gColumn"] button { flex:1; margin:0 8px 0 0; padding:0 8px; white-space:nowrap; }
.mBtn[class*="gColumn"] a:last-child,
.mBtn[class*="gColumn"] button:last-child { margin:0; }

/* gGrid */
.mBtn[class*="gGrid"] { display:grid; max-width:100%; row-gap: 0; column-gap: 8px; }
.mBtn[class*="gGrid"] a,
.mBtn[class*="gGrid"] button {  }
.mBtn[class*="gGrid"] a:last-child, 
.mBtn[class*="gGrid"] button:last-child {  }

.mBtn[class*="gGrid"].grid2 { grid-template-columns: repeat(2, 1fr); }
.mBtn[class*="gGrid"].grid2 a.gFull { grid-column: 1 / 3; }
.mBtn[class*="gGrid"].grid3 { grid-template-columns: repeat(3, 1fr); }
.mBtn[class*="gGrid"].grid3 a.gFull { grid-column: 1 / 4; }
.mBtn[class*="gGrid"].grid4 { grid-template-columns: repeat(4, 1fr); }
.mBtn[class*="gGrid"].grid4 a.gFull { grid-column: 1 / 5; }

/* gWrap */
.mBtn[class*="gWrap"] { display:flex; flex-wrap: wrap; max-width:100%; }
.mBtn[class*="gWrap"] a,
.mBtn[class*="gWrap"] button { flex:1; margin:0 4px; padding:0 8px; white-space:nowrap; }
.mBtn[class*="gWrap"] a:last-child, 
.mBtn[class*="gWrap"] button:last-child {  }

/* gFlex */
.mBtn[class*="gColumn"] .gFlex2 { flex:2; }
.mBtn[class*="gColumn"] .gFlex3 { flex:3; }
.mBtn[class*="gColumn"] .gFlex4 { flex:4; }

/* gFull */
.mBtn.gFull { margin:0; }
.mBtn.gFull a { padding:0 16px; }
.mBtn.gFull [class*="btn"], [class*="btn"].gFull { width:100%; }


/* 재구매 브릿지 NEW */
.bdgTitle {padding:46px 0 20px 0; text-align:center;}
.bdgTitle h2 {margin-bottom:10px;}
.bdgTitle h2 img {height:28px;}
.bdgTitle .bdgDesc {font-size:14px; color:#333; font-weight:300; line-height:1.3;}
.bdgTitle .bdgDesc em {font-style:normal; font-weight:600;}

.feedBackWrap {padding:0 22px; margin-bottom:30px;}
.feedBackWrap .fbBox {background:#FFF; padding:32px 40px 0 40px; background:#FFF; border-radius:4px;
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
}

/* 
.fbCon .fbTitle {color:#0B0A0A; font-size:20px; font-weight:600; line-height:1.3; margin-bottom:43px; text-align:center;}
.fbCon ul {display:block; height:auto; overflow:hidden;}
.fbCon ul li {display:flex; justify-content:flex-start; align-items:center; border-radius:4px; border:1px solid #E6E6E6; color:#999; font-size:14px; font-weight:300; width:100%; position:relative; transition:.4s all; box-sizing:border-box; padding:4px 10px; margin-bottom:8px;}
.fbCon ul li:hover {border:1px solid #FF5D5C; color:#FF5D5C;}
.fbCon ul li.on {border:1px solid #FF5D5C; color:#FF5D5C;}
.fbCon ul li:last-child {margin-bottom:0;}
.fbCon ul li .ico {width:50px; height:50px; margin-right:8px;}

.fbCon ul li .ico.fb0101 {background:url(/web/upload/mynomy/kr/diagnosis/ico_cleanning_off.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li .ico.fb0102 {background:url(/web/upload/mynomy/kr/diagnosis/ico_keep_off.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li .ico.fb0103 {background:url(/web/upload/mynomy/kr/diagnosis/ico_soft_off.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li .ico.fb0201 {background:url(/web/upload/mynomy/kr/diagnosis/ico_cooling_off.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li .ico.fb0202 {background:url(/web/upload/mynomy/kr/diagnosis/ico_keep_off.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li .ico.fb0203 {background:url(/web/upload/mynomy/kr/diagnosis/ico_strong_off.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li .ico.fb0301 {background:url(/web/upload/mynomy/kr/diagnosis/ico_smell_off.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li .ico.fb0302 {background:url(/web/upload/mynomy/kr/diagnosis/ico_keep_off.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li .ico.fb0303 {background:url(/web/upload/mynomy/kr/diagnosis/ico_change_off.svg) no-repeat 50% 50%; background-size:100%;}

.fbCon ul li:hover .ico.fb0101 {background:url(/web/upload/mynomy/kr/diagnosis/ico_cleanning.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li:hover .ico.fb0102 {background:url(/web/upload/mynomy/kr/diagnosis/ico_keep.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li:hover .ico.fb0103 {background:url(/web/upload/mynomy/kr/diagnosis/ico_soft.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li:hover .ico.fb0201 {background:url(/web/upload/mynomy/kr/diagnosis/ico_cooling.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li:hover .ico.fb0202 {background:url(/web/upload/mynomy/kr/diagnosis/ico_keep.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li:hover .ico.fb0203 {background:url(/web/upload/mynomy/kr/diagnosis/ico_strong.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li:hover .ico.fb0301 {background:url(/web/upload/mynomy/kr/diagnosis/ico_smell.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li:hover .ico.fb0302 {background:url(/web/upload/mynomy/kr/diagnosis/ico_keep.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li:hover .ico.fb0303 {background:url(/web/upload/mynomy/kr/diagnosis/ico_change.svg) no-repeat 50% 50%; background-size:100%;}

.fbCon ul li.on .ico.fb0101 {background:url(/web/upload/mynomy/kr/diagnosis/ico_cleanning.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li.on .ico.fb0102 {background:url(/web/upload/mynomy/kr/diagnosis/ico_keep.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li.on .ico.fb0103 {background:url(/web/upload/mynomy/kr/diagnosis/ico_soft.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li.on .ico.fb0201 {background:url(/web/upload/mynomy/kr/diagnosis/ico_cooling.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li.on .ico.fb0202 {background:url(/web/upload/mynomy/kr/diagnosis/ico_keep.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li.on .ico.fb0203 {background:url(/web/upload/mynomy/kr/diagnosis/ico_strong.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li.on .ico.fb0301 {background:url(/web/upload/mynomy/kr/diagnosis/ico_smell.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li.on .ico.fb0302 {background:url(/web/upload/mynomy/kr/diagnosis/ico_keep.svg) no-repeat 50% 50%; background-size:100%;}
.fbCon ul li.on .ico.fb0303 {background:url(/web/upload/mynomy/kr/diagnosis/ico_change.svg) no-repeat 50% 50%; background-size:100%;}
 */

.fb-pagination {display:block; bottom:unset; left:unset; text-align:center; padding:18px 0;}
.fb-pagination .swiper-pagination-bullet {width:6px; height:6px; background:#D9D9D9; opacity:1.0; transition:.4s all; margin:0 2px;}
.fb-pagination .swiper-pagination-bullet-active {background:#FF5D5C;}

.justDesc {text-align:center; margin:30px 0 0 0; font-size:16px; color:#333; font-weight:700; line-height:1.3;}

.myArea.feedBack {width:390px; margin:0 auto 80px;}

.center.padLR {padding:0 20px;}

/* 진단내역 New */
.treatHis {position:relative;}
.treatHis.padTop {padding-top:15px;}
.treatHis * {box-sizing:border-box;}
.treatHis:after {content:''; clear:both; display:block; height:auto;}
.treatHis .treatHisBox {float:left; width:49%; position:relative; background:#FFF; border-radius:4px; padding:37px 40px 26px 40px; margin:0 2% 18px 0; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);}
.treatHis .treatHisBox:nth-child(2n) {margin-right:0;}
.treatHis .treatHisBox .treatTitle {position:relative; padding:0 80px 14px 0; border-bottom:1px solid #eee;}
.treatHis .treatHisBox .treatTitle p {color:#0B0A0A; font-size:20px; font-weight:700; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.treatHis .treatHisBox .treatTitle .treatDate {position:absolute; right:0; top:5px; color:#666; font-size:11px; font-weight:400;}
.treatHis .treatHisBox .treatTitle .labelFb {position:absolute; left:0px; top:-15px; width:64px; height:11px; background:url(/web/renew_img/ico_feedback.svg) no-repeat 50% 50%;}
.treatHis .treatHisBox:after {content:''; clear:both; display:block; height:auto; overflow:hidden;}
.treatHis .treatHisBox .trTitle {color:#0B0A0A; font-size:20px; font-weight:700; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.treatHis .treatHisBox .treatInfo {margin:20px 0 16px 0; display:flex; justify-content:space-between; align-items:center;}
.treatHis .treatHisBox .treatInfo .inBox {display:flex; justify-content:flex-start; align-items:stretch; width:50%; flex:0 0 50%;}
.treatHis .treatHisBox .treatInfo .inBox.full {width:100%; flex:0 0 100%;}
.treatHis .treatHisBox .treatInfo .inBox .thumb {width:58px; height:58px;}
.treatHis .treatHisBox .treatInfo .inBox .thumb img {width:58px; height:58px;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc {padding-left:11px; display:flex; justify-content:space-between; flex-direction:column;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc .treatPart {color:#0B0A0A; font-size:16px; font-weight:600;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc .treatCode {color:#989591; font-size:12px; font-weight:300;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc .treatLevel {color:#0B0A0A; font-size:12px; font-weight:400;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc .treatLevel em {display:inline-block; background:#000; color:#FFF; font-size:12px; font-weight:300; padding:2px 6px; border-radius:100px; margin-right:4px; font-style:normal; letter-spacing:0;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc .treatLevel .sType {display:inline-block; color:#FFF; font-size:12px; font-weight:400; padding:2px 6px; border-radius:100px; margin-right:4px; letter-spacing:0;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc .treatLevel .sType.purple {background:#5F43AE;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc .treatLevel .sType.green {background:#09A36B;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc .treatLevel .sType.orange {background:#FF4D26;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc .treatLevel .sType.yellow {background:#E0AA1E;}
.treatHis .treatHisBox .treatInfo .inBox .thumbDesc .treatLevel .sType.blue {background:#1D7CEC;}

.treatHis .treatHisBox .treatBtns {display:flex; justify-content:space-between; align-items:center;}
.treatHis .treatHisBox .treatBtns .viewResult {width:50%;}
.treatHis .treatHisBox .treatBtns .viewResult a {display:block;}
.treatHis .treatHisBox .treatBtns .viewResult .goResult {color:#666; font-size:12px; font-weight:600; position:relative;}
.treatHis .treatHisBox .treatBtns .viewResult .goResult:after {content:''; display:inline-block; width:6px; height:10px; margin-left:3px; vertical-align:-1px; background:url(/web/upload/mynomy/kr/diagnosis/ar_more.svg) no-repeat 50% 50%; background-size:100%;}
.treatHis .treatHisBox .treatBtns a.btnSq {width:49%; color:#FFF; font-size:14px; font-weight:400; text-align:center; padding:13px 0;}
.treatHis .treatHisBox .treatBtns a.btnSq.full {width:100%;}
.btnSq.black {background:#000;}
.btnSq.dis {background:#DCDCDC;}
.btnSq.brown {background:#989591;}

.treatHis .btn-more {clear:both; display:block; height:auto; overflow:hidden; padding-top:10px; margin:0 0 50px 0; text-align:center; }
.treatHis .btn-more button { width: 280px; height: 52px; padding: 0; margin: auto; background: #fff; border:1px solid #d1d1d1; border-radius:4px; cursor: pointer; }
.treatHis .btn-more button span { position: relative; display: inline-block; font-size: 16px; font-weight: 400; color: #0b0a0a; font-family: 'Pretendard'; margin-right:10px; }

.ec-base-table.typeList table.bdrNone {border-top:0;}

/* 230323 추가 */
.xans-myshop-orderhistorylistitem.ec-base-table td.product .viewResult a {display:block; color:#666; font-size:11px; font-weight:600; position:relative;}
.xans-myshop-orderhistorylistitem.ec-base-table td.product .viewResult a:after {content:''; display:inline-block; width:12px; height:12px; background:url(/web/upload/mynomy/kr/layout/tail_result.svg) no-repeat 50% 50%; vertical-align:-2px; margin-left:4px;}

.treatHis .treatHisBox .delHis a {position:absolute; right:0; top:0; width:32px; height:32px; background:url(/web/upload/mynomy/kr/layout/del_result.svg) no-repeat 50% 50%;}

/* 230411 추가 */
#sidebar {padding:47px 20px 13px 20px;}
#sidebar .menu_tit {position:relative; margin:0 0 16px 0;}
#sidebar .menu_tit p.memGrade {color:#888; font-size:14px; font-weight:400; display:none;}
a.icoMySet {position:absolute; right:0; top:10px; width:28px; height:28px; background:url(/web/renew_img/ico_mysetting.svg) no-repeat 50% 50%;}

.xans-myshop-asyncbankbook {margin:0 !important; padding:0 !important; background:transparent !important; border-radius:0 !important;}
.myInfoShort {position:relative; display:flex; justify-content:space-between; align-items:stretch; flex-wrap:wrap;}
.myInfoShort * {box-sizing:border-box;}
.myInfoShort:after {content:''; clear:both; display:block; height:auto; overflow:hidden;}
.myInfoShort .miBox {border-radius:4px; background:#F2F2F2; margin-bottom:8px; width:92px;}
.myInfoShort .miBox a {display:block; padding:8px 16px;}
.myInfoShort .miBox .title {color:#0B0A0A; font-size:14px; font-weight:500; line-height:1.5; margin-bottom:4px;}
.myInfoShort .miBox strong {display:block; color:#0B0A0A; font-size:18px; font-weight:700 !important; line-height:1.5;}
.myInfoShort .miBox.full {width:100%; padding:0;}
.myInfoShort .miBox.full .title {margin-bottom:0;}
.myInfoShort .miBox.full a {display:flex; justify-content:space-between; align-items:center; padding:12px;}

.leftMyMenu {position:relative; margin-top:20px;}
.leftMyMenu * {box-sizing:border-box;}
.leftMyMenu:after {content:''; clear:both; display:block; height:auto; overflow:hidden;}
.leftMyMenu li {display:block;}
.leftMyMenu li a {display:block; padding:18px 0 18px 32px; color:#0B0A0A; font-size:16px; font-weight:500;}
.leftMyMenu li a.mico.delivery {background:url(/web/renew_img/sico_delivery.svg) no-repeat left 50%;}
.leftMyMenu li a.mico.photo {background:url(/web/renew_img/sico_photo.svg) no-repeat left 50%;}
.leftMyMenu li a.mico.subscribe {background:url(/web/renew_img/sico_subscribe.svg) no-repeat left 50%;}
.leftMyMenu li a.mico.myqna {background:url(/web/renew_img/sico_myqna.svg) no-repeat left 50%;}
.leftMyMenu li a.mico.helpdesk {background:url(/web/renew_img/sico_helpdesk.svg) no-repeat left 50%;}
.leftMyMenu li a.mico.gift {background:url(/web/renew_img/sico_gift.svg) no-repeat left 50%;}

#sidebar .log a {display:block; height:40px; line-height:40px;}

.xans-myshop-orderstate { padding:0px 0 18px 0; background:transparent;}
.xans-myshop-orderstate.short {padding:0; margin-bottom:15px;}
.xans-myshop-orderstate .order_inquire{width: 100%; padding: 0px 0px 30px; border-bottom: 0px solid #dbdbdb;}
.xans-myshop-orderstate .title { text-align: left;}
.xans-myshop-orderstate .title h3 { font-size:24px; line-height:60px; font-weight: 700; color:#0b0a0a; padding:0; margin:0 0 12px; }
.xans-myshop-orderstate .desc { padding:0 0 0 4px; font-weight:normal; font-size:13px; color:#777; }
.xans-myshop-orderstate .desc em { color:#000; font-style:normal; }
.xans-myshop-orderstate .state {padding: 42px 30px; background:#FFF; border-radius:4px; position:relative;}
.xans-myshop-orderstate .pdbm{}
.xans-myshop-orderstate .order {display:flex; justify-content:center; align-items:center;}
.xans-myshop-orderstate .order li { position:relative; width:20%; padding:0; text-align:center; }
.xans-myshop-orderstate .order li:after {content:''; position:absolute; right:-5px; top:47px; width:10px; height:17px; background:url(/web/renew_img/ar_step.svg) no-repeat 50% 50%;}
.xans-myshop-orderstate .order li:last-child:after {display:none;}

.xans-myshop-orderstate .order li strong { display:block; font-size:16px; line-height:1.0; color:#999; margin-top:16px;}
.xans-myshop-orderstate .order .count span { font-size:32px; line-height:1.0; color:#999; font-weight:700;}
.xans-myshop-orderstate .order .count.active span {color:#0B0A0A; font-weight:700;}
.xans-myshop-orderstate .order li.active .count span {color:#0B0A0A;}
.xans-myshop-orderstate .order li.active strong {color:#0B0A0A;}
.xans-myshop-orderstate .cs { float:left; width:20%; }
.xans-myshop-orderstate .cs li { margin:0 0 5px 57px; letter-spacing:0.04em; word-spacing:4px; }
.xans-myshop-orderstate .cs strong { font-weight:400 !important; font-size:14px; color:#555; }
.xans-myshop-orderstate .cs .count { padding:0 0 0 4px; font-weight:bold; color:#000; }
.xans-myshop-orderstate .cs .icoDot { display:inline-block; width:2px; height:2px; margin:6px 0 0 0; background:#4d4d4d; vertical-align:top; }

.adFeedBack {height:auto; background:#333; padding:80px 0; text-align:center; font-size:16px; color:#FFF; font-weight:700;}

.titleArea {position:relative;}
.titleArea.myMain {text-align:left; margin:0;}
.titleArea.myMain h3 {margin-bottom:0;}
.titleArea span {color:#0B0A0A; font-size:16px; font-weight:400;}
.titleArea .more a {position:absolute; right:0; top:0; color:#666; font-size:16px; font-weight:400;}
.titleArea .more a:after {content:''; display:inline-block; width:8px; height:15px; background:url(/web/renew_img/ar_more.svg) no-repeat 50% 50%; margin-left:8px; vertical-align:-2px;}
.myshop_diagnosisState .title .more a {font-weight:400; position:relative;}
.myshop_diagnosisState .title .more a:after {content:''; display:inline-block; width:8px; height:15px; background:url(/web/renew_img/ar_more.svg) no-repeat 50% 50%; margin-left:8px; vertical-align:-2px;}
.myshop_diagnosisState .title span {color:#0B0A0A; font-size:16px; font-weight:400;}

.trySurvey {display:block; background:#FFF; padding:40px 0;}
.trySurvey .tsTitle {color:#0B0A0A; font-size:24px; font-weight:700; text-align:center; margin-bottom:20px;}
.trySurvey .surveyKind {display:flex; justify-content:center; align-items:center;}
.trySurvey .surveyKind .tryBox {display:block; background:#FFF; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13); border-radius:4px; margin:0 4px;}
.trySurvey .surveyKind .tryBox a {display:block; padding:24px 36px 18px;}
.trySurvey .surveyKind .tryBox .thumb {display:block; text-align:center; margin-bottom:10px;}
.trySurvey .surveyKind .tryBox .thumb img {width:56px;}
.trySurvey .surveyKind .tryBox .tsDesc {color:#333; font-size:14px; font-weight:600; line-height:1.2; text-align:center;}

.order_history {margin-bottom:20px; display:flex; justify-content:space-between; align-items:center;}
.treatCate {}
.treatCate span {margin-right:6px; float:left;}
.treatCate span a {display:block; width:82px; height:40px; line-height:38px; border:1px solid #999; border-radius:100px; text-align:center; color:#999; font-size:12px; font-weight:400; box-sizing:border-box;}
.treatCate span a.active {background:#0B0A0A; border:1px solid #0B0A0A; color:#FFF;}

.guideFb {position:absolute; right:21px; bottom:-54px; color:#FFF; font-size:12px; font-weight:500; background:#FF5D5C; width:210px; text-align:center; padding:8px 0px; border-radius:100px;}
.guideFb:after {content:''; position:absolute; right:40px; top:-14px; width:20px; height:20px; background:url(/web/renew_img/tail_fb.svg) no-repeat 50% 50%;}

.my_reward_wrap {margin-bottom:20px !important;}

/** 230424 **/
.myArea.feedBackEssen {width:335px; margin:0 auto;}
.bridgeEssence {margin:0 auto 20px;}
.bridgeEssence img {max-width:100%;}
.rollingMock .swiper-slide {opacity:0 !important; transition:.2s all !important;}
.rollingMock .swiper-slide.swiper-slide-active {opacity:1.0 !important;}
.rollingMock .swiper-slide.swiper-slide-prev,
.rollingMock .swiper-slide.swiper-slide-next {opacity:0 !important;}

.mypageBnrSec {clear:both; display:block; height:auto; overflow:hidden;}
.mypageBnrSec .perBnr {margin-top:20px;}

/* 230913 Add */
.recentPrd {padding:10px 0; box-sizing:border-box; margin-left:-4px; width:calc(100% + 4px); margin-bottom:40px;}
.recentPrd .swiper-slide {width:auto; position:relative;}
.recentPrd .description {position:relative; width:320px; height:143px; background:#FFF; border-radius:4px; box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10); padding:12px 18px 12px 153px; box-sizing:border-box;}
.recentPrd .description .prdImg {position:absolute; left:18px; top:12px; width:118px;}
.recentPrd .description .prdImg img {max-width:100%;}
.recentPrd .description strong.prdName {color:#0B0A0A; font-size:16px; font-weight:700; line-height:1.5; padding-right:26px; word-break:keep-all;}

.recentPrd .description .price {position:absolute; left:153px; bottom:18px; display:flex; justify-content:flex-start; align-items:center; flex-direction:row-reverse; color:#0B0A0A; font-size:14px; font-weight:700;}
.recentPrd .description .price strike {color:#999; font-size:12px; font-weight:400; margin-left:5px;}
.recentPrd .description .price string {position:absolute; left:0; top:-18px; color:#FF5D5C; font-size:14px; font-weight:700;}

.recentPrd .description .icoBtnDel {position:absolute; top:8px; right:8px; width:30px; height:30px; text-indent:-999999px; background:transparent;}
.recentPrd .description .icoBtnDel:after {content:''; position:absolute; left:50%; top:50%; width:1px; height:14px; background:#999; transform:translate(-50%, -50%) rotate(45deg);}
.recentPrd .description .icoBtnDel:before {content:''; position:absolute; left:50%; top:50%; width:1px; height:14px; background:#999; transform:translate(-50%, -50%) rotate(-45deg);}

.recentPrd .recent-prev {position:absolute; left:0; top:0; width:90px; height:100%; z-index:10; opacity:1.0; transition:.4s all; cursor:pointer;}
.recentPrd .recent-prev:after {content:''; position:absolute; left:0; top:0; width:100%; height:100%; background: linear-gradient(90deg, #F8F6F4 45.57%, rgba(248, 246, 244, 0.00) 99.88%);}
.recentPrd .recent-prev:before {content:''; position:absolute; left:5px; top:50%; transform:translate(0, -50%); width:36px; height:36px; background:url(/web/renew_img/dir_recent_left.svg) no-repeat 50% 50%; z-index:10;}

.recentPrd .recent-next {position:absolute; right:0; top:0; width:90px; height:100%; z-index:10; opacity:1.0; transition:.4s all; cursor:pointer;}
.recentPrd .recent-next:after {content:''; position:absolute; left:0; top:0; width:100%; height:100%; background: linear-gradient(270deg, #F8F6F4 45.57%, rgba(248, 246, 244, 0.00) 99.88%);}
.recentPrd .recent-next:before {content:''; position:absolute; right:5px; top:50%; transform:translate(0, -50%); width:36px; height:36px; background:url(/web/renew_img/dir_recent_right.svg) no-repeat 50% 50%; z-index:10;}

.recentPrd .recent-prev.swiper-button-disabled {opacity:0; z-index:0;}
.recentPrd .recent-next.swiper-button-disabled {opacity:0; z-index:0;}